@charset "UTF-8";

.ui-megamenu {
    background-color: #feeb00 !important;
    color: white !important; 
}

.footer-container {
    display: flex;
    justify-content: space-around;
    background-color: #f8f8f8;
    padding: 20px;
}

.footer-section h3 {
    font-size: 16px;
    color: #333;
}

.footer-section p {
    font-size: 14px;
    color: #666;
}

